body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .card {
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 1.0rem;
    font-weight: bold;
  }
  
  .card-text {
    color: #555;
    font-size: 0.7rem;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .col-md-3 {
    width: 17%;
  }
  <style>
  .film-seridi {
    overflow-x: auto;
    white-space: nowrap;
    background-image: url("img/filmseridi.jpg"); /* Arka planını senin görselinle yapıyoruz */
    background-repeat: repeat-x;
    background-size: cover;
    padding: 30px 10px;
    border-radius: 10px;
  }

  .film-seridi img {
    display: inline-block;
    width: 250px;
    height: 150px;
    object-fit: cover;
    margin: 0 10px;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
  }

  h2 {
    margin-top: 40px;
  }
</style>
